body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #d6d6d6;
}

.container {
    text-align: center;
    background: rgb(224, 224, 224);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.heading{
    display: flex;
}
.heading h1{
   color: #007bff;
   font-weight: bolder;
}
img {
    width: 100px;
    padding-left: 10px;
}
p{
    margin: 10px;
    font-weight: bold;
    color: #007bff;
    font-size: small;
    font-style: italic;
    text-align: center;
    letter-spacing: 1px;
}
.qr-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

input {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
}

button {
    padding: 10px 20px;
    margin: 5px;
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #007bff;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

button:disabled {
    background-color: #cccccc;
}

button:hover {
    background-color: #0056b3;
}

@media (max-width: 1024px) {
    .container {
        width: 80%;
    }
}

@media (max-width: 768px) {
    .container {
        width: 90%;
    }
}

@media (max-width: 320px) {
    .container {
        width: 100%;
        padding: 10px;
    }

    button {
        width: 100%;
        margin: 5px 0;
    }
}